* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

#main-container {
    display: flex;
    flex-flow: column;

    background: #111;
    color: white;

    position: fixed;
    inset: 0;

    font-size: max(1em, 16px);
    font-family: Arial, Helvetica, sans-serif;

    overflow: hidden;
}

#navigation-bar {
    height: calc(2em + 2px);
    border-bottom: 2px solid #fff2;
    background: #222;

    display: flex;
    align-items: stretch;

    user-select: none;
}

#post-composer-container {
    display: flex;
    flex-flow: column;
    height: 0;
    flex-grow: 1;
}

#post-preview {
    height: 0;
    flex-grow: var(--preview-size, 0.5);

    padding: 0 1rem;

    overflow-y: auto;
}

#post-toolbar {
    height: calc(2em + 4px);
    border-block: 2px solid #fff2;
    background: #222;

    display: flex;
    align-items: stretch;

    user-select: none;
}

#post-resize-handle {
    width: 2em;
    display: flex;

    align-items: center;
    justify-content: center;
}

#post-input-holder {
    height: 0;
    flex-grow: calc(1 - var(--preview-size, 0.5));

    position: relative;
}

#post-input-holder > * {
    position: absolute;
    inset: 0;

    height: 100%;
}

#post-input-holder .CodeMirror-scroll {
    padding: 0.5em;
}

#post-preview :is(p, h1, h2, h3, h4, h5, h6) {
    margin-block: 1rem;
}