* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    touch-action: none;

    color: white;
    font-size: max(1em, 16px);
    font-family: Inter, Arial, Helvetica, sans-serif;

    --toolbar-button-size: 2em;
}

code, pre, .CodeMirror {
    font-family: "Roboto Mono", monospace;
}

iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

button, .button {
    margin: 0;
}

button.icon-button, .button.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    padding: 0;
}

a {
    color: #abf;
}

#main-container {
    display: flex;
    flex-flow: column;

    background: #000;

    position: fixed;
    inset: 0;

    overflow: hidden;
}

.tool-bar {
    background: #111;

    display: flex;
    align-items: stretch;

    user-select: none;
}

.tool-bar .filler {
    flex: 1;
}

#navigation-bar {
    height: calc(var(--toolbar-button-size) + 2px);
    border-bottom: 2px solid #fff2;
}
#navigation-bar-title {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    padding-inline: 0.6em;
    font-size: 0.8em;
    font-weight: bold;
    color: #fffa;
}

#post-composer-container {
    display: grid;
    grid-template: 
        "post-preview post-preview"       calc(calc(100% - var(--toolbar-button-size) - 4px) * var(--preview-size, 0.5))
        "post-toolbar post-resize-handle" calc(var(--toolbar-button-size) + 4px)
        "post-input   post-input"         1fr
        / 1fr var(--toolbar-button-size);
    height: 0;
    flex-grow: 1;
}

#post-preview {
    grid-area: post-preview;

    line-height: 1.25;

    padding: 0 1rem;
    min-width: 0;
    min-height: 0;

    overflow-y: auto;
    touch-action: manipulation;
}

#post-preview img {
    max-width: min(100%, 40em);
}

#post-preview :not(pre) > code {
    background: #111;
    border: 1px solid #fff3;
    border-radius: 0.25em;
    padding-inline: 0.25em;
}

#post-preview pre {
    background: #111;
    border: 1px solid #fff3;
    border-radius: 0.25em;
    padding: 0.5em;
    overflow: auto;
}

#post-preview table {
    background: #111;
    border: 1px solid #fff3;
    border-radius: 0.25em;
    margin-block: 1em;
    overflow: auto;
    border-collapse: collapse;
}

#post-preview :is(ol, ul) {
    padding-inline-start: 2em;
}

#post-preview :is(ol, ul, blockquote) :is(ol, ul) {
    padding-inline-start: 1em;
}

#post-preview :is(tr, td, th) {
    border: 1px solid #fff3;
    border-radius: 0.25em;
}

#post-preview :is(td, th) {
    padding: 0.25em 0.4em;
}

#post-preview blockquote {
    margin-inline-start: 1em;
    padding-inline-start: calc(1em - 4px);
    border-inline-start: 4px solid #fff5;
    border-radius: 4px;
    color: #fffc;
}

#post-preview :is(ol, ul, blockquote) blockquote {
    margin-inline-start: 0em;
}


#post-preview.justify-paragraphs p {
    text-align: justify;
}
#post-preview.justify-all {
    text-align: justify;
}
#post-preview.line-height-tight {
    line-height: 1.15;
}
#post-preview.line-height-wide :is(p, pre, table) {
    line-height: 1.5;
}

#post-toolbar {
    grid-area: post-toolbar;

    height: calc(var(--toolbar-button-size) + 4px);
    border-block: 2px solid #fff2;
    background: #111;

    display: flex;
    align-items: stretch;

    min-width: 0;
    min-height: 0;

    user-select: none;
}

#post-toolbar-items, #post-toolbar-side-items {
    display: flex;
    align-items: stretch;
    overflow: auto;
    scrollbar-width: none;
}

#post-toolbar-items > hr:last-child {
    margin-right: -1px;
}

#post-resize-handle {
    grid-area: post-resize-handle;

    width: var(--toolbar-button-size);
    display: flex;

    align-items: center;
    justify-content: center;

    user-select: none;
    cursor: grab;

    background: #333;
}

#post-resize-handle:active {
    cursor: grabbing;
}

.tool-bar-button {
    width: var(--toolbar-button-size);
    height: var(--toolbar-button-size);
    display: flex;

    background: #222;
    color: white;
    border: none;
    border-radius: 0;
    flex-shrink: 0;
    font: inherit;

    align-items: center;
    justify-content: center;
}
.tool-bar-button:hover {
    background: #333;
}
.tool-bar-button:active {
    background: #444;
}


#post-input-holder {
    grid-area: post-input;

    position: relative;

    min-width: 0;
    min-height: 0;
}

#post-input-holder > * {
    position: absolute;
    inset: 0;

    height: 100%;
}

:is(#post-toolbar, #navigation-bar) hr {
    height: 100%;
    border: none;
    border-left: 1px solid #fff3;
    margin: 0;
}

.CodeMirror-scroll {
    padding: 0.5em;
    touch-action: manipulation;
}

.CodeMirror-activeline-background {
    padding-inline: 0.5em;
    margin-inline: -0.5em;
}

#post-preview :is(p, h1, h2, h3, h4, h5, h6) {
    margin-block: 1rem;
}

.popup {
    display: flex;
    position: fixed;
    inset: 0;
    background: #0007;
    align-items: center;
    justify-content: center;
}

.popup-body {
    display: flex;
    align-items: stretch;
    flex-flow: column;
    margin: 1em;
    width: min(calc(100% - 2em), 32em);
    max-height: min(calc(100% - 2em), 80em);

    background: #111;
    border: 2px solid #fff7;
    box-shadow: 0 0 0.5em #0007, 0.5em 0.5em #000a, 0 0 24em #fff3;
}

.popup-title {
    padding: 0.5em;
    margin: 0;
    font-size: 2em;
    flex: 0 0;
}

.popup-content {
    padding: 0 1em;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-flow: column;
    gap: 0.5em;
}

.popup-actions {
    display: flex;
    padding: 1em;
    flex: 0 0;
    gap: 0.5em;
    justify-content: stretch;
}

.popup-actions button {
    border: 2px solid #fff2;
    padding: 0.5em;
    flex: 1;
    background: #333;
    font: inherit;
    color: white;
}


.storage-post-box {
    display: flex;
    flex-flow: column;
    border: 2px solid #fff2;
    padding: 0.5em;
    gap: 0.5em;
}


.storage-post-box h3 {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1.25em;
}

.storage-post-box time {
    font-style: italic;
}

.storage-post-box-actions {
    display: flex;
    flex: 0 0;
    gap: 0.5em;
    justify-content: stretch;
}

.storage-post-box-actions button {
    border: 2px solid #fff2;
    padding: 0.5em;
    flex: 1;
    background: #333;
    font: inherit;
    color: white;
}

.prefs-category-header {
    margin-bottom: 0;
    padding-bottom: 0.25em;
    border-bottom: 2px solid #fff;
    position: sticky;
    background: #111;
    top: 0;
}
.prefs-category-header:first-child {
    margin-top: 0;
}
.prefs-field > * {
    width: 100%;
}
.prefs-field button {
    border: 2px solid #fff2;
    padding: 0.5em;
    flex: 1;
    background: #333;
    font: inherit;
    color: white;
}
.prefs-field h4 {
    margin: 0;
    margin-left: 1em;
    width: calc(100% - 1em);
    margin-bottom: 0.25em;
    padding-block: 0.25em 0.25em;
    border-bottom: 2px solid #fff2;
    font-size: 1em;
    font-weight: normal;
}

.field-choice-options {
    display: grid;
    gap: 0.25em;
    padding-left: 2em;
    grid-template-columns: repeat(3, 1fr);
}
.field-choice-options button[aria-selected="true"] {
    background: white;
    color: #333;
}

.field-button > .field-choice-options {
    grid-template-columns: repeat(1, 1fr);
}

.preview-frame {
    width: 100%;
    height: min(calc(100dvh - 10em), 40em);
    position: relative;
}

.preview-frame iframe {
    width: 200%;
    height: 200%;
    position: absolute;
    transform: scale(0.5);
    transform-origin: top left;
    pointer-events: none;
    overflow: hidden;
}

.toc-button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    text-align: start;
    text-decoration: underline 1px solid #fff7;
    cursor: pointer;
    display: list-item;
}
.toc-button-1 {
    margin-inline-start: 1em;
    list-style-type: "+";
}
.toc-button-2 {
    margin-inline-start: 2em;
    list-style-type: "-";
}
.toc-button-3 {
    margin-inline-start: 3em;
    list-style-type: "∗";
}
.toc-button-4 {
    margin-inline-start: 4em;
    list-style-type: "•";
}
.toc-button-5 {
    margin-inline-start: 5em;
    list-style-type: "◦";
}
.toc-button-6 {
    margin-inline-start: 6em;
    list-style-type: ">";
}

@media (pointer: coarse) {
    body {
        --toolbar-button-size: 2.3em;
    }
    #navigation-bar-title {
        padding-inline: 0.8em;
    }
    .tool-bar-button iconify-icon {
        font-size: 1.2em;
    }
    #post-resize-handle iconify-icon {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 64em) {
    #post-composer-container {
        grid-template: 
            "post-toolbar post-resize-handle post-preview" calc(var(--toolbar-button-size) + 2px)
            "post-input   post-resize-handle post-preview" 1fr
            / calc(calc(100% - 1em) * var(--preview-size, 0.5)) 1em 1fr;
    }
    #post-toolbar {
        border-top: none;
        height: calc(var(--toolbar-button-size) + 2px);
    }
    #post-resize-handle {
        width: 1em;
    }
    #post-resize-handle iconify-icon {
        font-size: 0.7em;
    }
}