* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    touch-action: none;

    color: white;
    font-size: max(1em, 16px);
    font-family: Arial, Helvetica, sans-serif;
}

iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

button {
    margin: 0;
}

a {
    color: #abf;
}

#main-container {
    display: flex;
    flex-flow: column;

    background: #000;

    position: fixed;
    inset: 0;

    overflow: hidden;
}

.tool-bar {
    background: #111;

    display: flex;
    align-items: stretch;

    user-select: none;
}

.tool-bar .filler {
    flex: 1;
}

#navigation-bar {
    height: calc(2em + 2px);
    border-bottom: 2px solid #fff2;
}

#post-composer-container {
    display: flex;
    flex-flow: column;
    height: 0;
    flex-grow: 1;
}

#post-preview {
    height: 0;
    flex-grow: var(--preview-size, 0.5);
    line-height: 1.25;

    padding: 0 1rem;

    overflow-y: auto;
    touch-action: manipulation;
}

#post-preview img {
    max-width: min(100%, 40em);
}

#post-preview :not(pre) > code {
    background: #111;
    border: 1px solid #fff3;
    border-radius: 0.25em;
    padding-inline: 0.25em;
}

#post-preview pre {
    background: #111;
    border: 1px solid #fff3;
    border-radius: 0.25em;
    padding: 0.5em;
    overflow: auto;
}

#post-preview table {
    background: #111;
    border: 1px solid #fff3;
    border-radius: 0.25em;
    margin-block: 1em;
    overflow: auto;
    border-collapse: collapse;
}

#post-preview :is(ol, ul) {
    padding-inline-start: 2em;
}

#post-preview :is(ol, ul, blockquote) :is(ol, ul) {
    padding-inline-start: 1em;
}

#post-preview :is(tr, td, th) {
    border: 1px solid #fff3;
    border-radius: 0.25em;
}

#post-preview :is(td, th) {
    padding: 0.25em 0.4em;
}

#post-preview blockquote {
    margin-inline-start: 1em;
    padding-inline-start: calc(1em - 4px);
    border-inline-start: 4px solid #fff5;
    border-radius: 4px;
    color: #fffc;
}

#post-preview :is(ol, ul, blockquote) blockquote {
    margin-inline-start: 0em;
}


#post-preview.justify-paragraphs p {
    text-align: justify;
}
#post-preview.justify-all {
    text-align: justify;
}
#post-preview.line-height-tight {
    line-height: 1.15;
}
#post-preview.line-height-wide :is(p, pre, table) {
    line-height: 1.5;
}

#post-toolbar {
    height: calc(2em + 4px);
    border-block: 2px solid #fff2;
    background: #111;

    display: flex;
    align-items: stretch;

    user-select: none;
}

#post-toolbar-items, #post-toolbar-side-items {
    display: flex;
    align-items: stretch;
    overflow: auto;
    scrollbar-width: none;
}

#post-toolbar-items > hr:last-child {
    margin-right: -1px;
}

#post-resize-handle {
    width: 2em;
    display: flex;

    align-items: center;
    justify-content: center;

    user-select: none;
    cursor: grab;

    background: #333;
}

#post-resize-handle:active {
    cursor: grabbing;
}

.tool-bar-button {
    width: 2em;
    display: flex;

    background: #222;
    color: white;
    border: none;
    border-radius: 0;
    font: inherit;

    align-items: center;
    justify-content: center;
}
.tool-bar-button:hover {
    background: #333;
}
.tool-bar-button:acttive {
    background: #444;
}


#post-input-holder {
    height: 0;
    flex-grow: calc(1 - var(--preview-size, 0.5));

    position: relative;
}

#post-input-holder > * {
    position: absolute;
    inset: 0;

    height: 100%;
}

:is(#post-toolbar, #navigation-bar) hr {
    height: 100%;
    border: none;
    border-left: 1px solid #fff3;
    margin: 0;
}

.CodeMirror-scroll {
    padding: 0.5em;
    touch-action: manipulation;
}

.CodeMirror-activeline-background {
    padding-inline: 0.5em;
    margin-inline: -0.5em;
}

#post-preview :is(p, h1, h2, h3, h4, h5, h6) {
    margin-block: 1rem;
}

.popup {
    display: flex;
    position: fixed;
    inset: 0;
    background: #0005;
    align-items: center;
    justify-content: center;
}

.popup-body {
    display: flex;
    align-items: stretch;
    flex-flow: column;
    margin: 1em;
    width: min(calc(100% - 2em), 32em);
    max-height: min(calc(100% - 2em), 80em);

    background: #111;
    border: 2px solid #fff7;
    box-shadow: 0.5em 0.5em #0007;
}

.popup-title {
    padding: 0.5em;
    margin: 0;
    font-size: 2em;
    flex: 0 0;
}

.popup-content {
    padding: 0 1em;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-flow: column;
    gap: 0.5em;
}

.popup-actions {
    display: flex;
    padding: 1em;
    flex: 0 0;
    gap: 0.5em;
    justify-content: stretch;
}

.popup-actions button {
    border: 2px solid #fff2;
    padding: 0.5em;
    flex: 1;
    background: #333;
    font: inherit;
    color: white;
}


.storage-post-box {
    display: flex;
    flex-flow: column;
    border: 2px solid #fff2;
    padding: 0.5em;
    gap: 0.5em;
}


.storage-post-box h3 {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkitline-clamp: 2;
    font-size: 1.25em;
}

.storage-post-box time {
    font-style: italic;
}

.storage-post-box-actions {
    display: flex;
    flex: 0 0;
    gap: 0.5em;
    justify-content: stretch;
}

.storage-post-box-actions button {
    border: 2px solid #fff2;
    padding: 0.5em;
    flex: 1;
    background: #333;
    font: inherit;
    color: white;
}

.prefs-category-header {
    margin-bottom: 0;
    padding-bottom: 0.25em;
    border-bottom: 2px solid #fff;
    position: sticky;
    background: #111;
    top: 0;
}
.prefs-category-header:first-child {
    margin-top: 0;
}
.prefs-field > * {
    width: 100%;
}
.prefs-field button {
    border: 2px solid #fff2;
    padding: 0.5em;
    flex: 1;
    background: #333;
    font: inherit;
    color: white;
}
.prefs-field h4 {
    margin: 0;
    margin-left: 1em;
    width: calc(100% - 1em);
    margin-bottom: 0.25em;
    padding-block: 0.25em 0.25em;
    border-bottom: 2px solid #fff2;
    font-size: 1em;
    font-weight: normal;
}

.field-choice-options {
    display: grid;
    gap: 0.25em;
    padding-left: 2em;
    grid-template-columns: repeat(3, 1fr);
}
.field-choice-options button[aria-selected="true"] {
    background: white;
    color: #333;
}

.preview-frame {
    width: 100%;
    height: min(calc(100dvh - 10em), 40em);
    position: relative;
}

.preview-frame iframe {
    width: 200%;
    height: 200%;
    position: absolute;
    transform: scale(0.5);
    transform-origin: top left;
    pointer-events: none;
    overflow: hidden;
}