body {
    background-color: black;
    font-family: "Helvetica", "FreeSans", "Arial", sans-serif;
}

main {
    position: fixed; 
    inset: 0; 
    display: flex; 
    flex-flow: column; 
    align-items: safe stretch;
    justify-content: safe center;
    padding: 10px;
    overflow: hidden auto;
}